/* styles.css */
#error-message {
    color: red;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product h2 {
    font-size: 18px;
}

.product p {
    margin: 5px 0;
}
